{
    email me@toino.pt
	metrics
}

toino.pt {
	reverse_proxy * website
}

schema.toino.pt {
	reverse_proxy * schema
}

xaufome.toino.pt {
	root * /var/www/xaufome
	php_fastcgi xaufome:9000
	handle_errors {
		rewrite * /index.php
	}
}

atrellado.toino.pt {
	reverse_proxy * atrellado
}

commits.toino.pt {
	reverse_proxy * commits
}

luis.toino.pt {
	reverse_proxy * luis:3000
}

sdle.toino.pt {
	reverse_proxy * sdle:3000

	handle_path /_api {
		reverse_proxy * sdle-server:8080
	}
}

sgi.toino.pt {
	reverse_proxy * sgi
}

jmm.toino.pt {
	reverse_proxy * jmm:3000
}

sso.toino.pt {
	reverse_proxy * authentik-server:9000
}

pga.toino.pt {
	reverse_proxy * pgadmin
}

grafana.toino.pt {
	reverse_proxy * grafana:3000
}

registry.toino.pt {
	basic_auth {
		import registry-auth
	}
	reverse_proxy * registry:5000
}
